[flake8]
# E501: Line too long (kept 150 due to inline C/HTML)
# W503: Line break before binary operator (pep8 compat)
# E402: Import not at top of file (Necessário para sys.path.append)
max-line-length = 200
ignore = E501, W503, F541, E402, E741
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv
    .github,
    logs

[pycodestyle]
max-line-length = 200

[mccabe]
max-complexity = 10
