# git
.pypirc

# Python runtime
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / Build
build/
#dist/
*.egg-info/
.rpm/

# Logs and Reports (Sys-Inspector specific)
logs/
*.log
*.html

# IDE
.vscode/
.idea/

# ------------------------------------------------------------------------------
# Sys-Inspector v0.90 Specific Ignores
# ------------------------------------------------------------------------------

# Database files (Dynamic storage and WAL locking)
data/*.db
data/*.db-shm
data/*.db-wal

# Cryptographic Keys (Strictly local security)
conf/private_key.pem
conf/public_key.pem

# Agent Identity files
.agent_id
data/.agent_id

# Generated HTML Reports
report/*.html