name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Publish to GitHub Packages (Manual Twine)
        env:
          TWINE_USERNAME: mariosergiosl
          TWINE_PASSWORD: ${{ secrets.MY_PAT }}
          TWINE_REPOSITORY_URL: https://pypi.pkg.github.com/mariosergiosl/
        run: |
          echo "--- DEBUG INFO ---"
          if [ -z "$TWINE_PASSWORD" ]; then
            echo "ERRO!: The secret 'MY_PAT' is empty or not found!"
            echo "Verifique em Settings -> Secrets and variables -> Actions."
            exit 1
          else
            echo "OK!: The secret 'MY_PAT' load (size: ${#TWINE_PASSWORD} caracters)."
          fi
          echo "Try upload to: $TWINE_REPOSITORY_URL"
          echo "------------------"

          echo "Starting upload to $TWINE_REPOSITORY_URL..."
          twine upload --verbose dist/*