name: Publish Python Package

on:
  release:
    types: [published]

jobs:
  publish-package:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write 

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Create .pypirc config
        run: |
          echo "[distutils]" > ~/.pypirc
          echo "index-servers = github" >> ~/.pypirc
          echo "[github]" >> ~/.pypirc
          echo "repository = https://pypi.pkg.github.com/mariosergiosl/" >> ~/.pypirc
          echo "username = ${{ github.actor }}" >> ~/.pypirc
          echo "password = ${{ secrets.GITHUB_TOKEN }}" >> ~/.pypirc

      - name: Publish to GitHub Packages
        run: |
          twine upload --verbose --repository github dist/*